/* Vincent Nguyen 2018 */
table, th, td {
    font-size: 3vmin;
    border-collapse: collapse;
}
th {
    text-align: left;
}
#game {
    display: none;
}
.categories {
    margin: 2vmin auto;
    padding: 1vmin;
    width: 80vmin;
}
.categories table {
    width: 100%;
    background-color: #fff3;
}
.categories table, th, td {
    border: 1px solid #000;
    border-spacing: 0;
}
th, td {
    padding: 1vmin;
}
.category {
    background-color: #dfd;
    transition: .1s;
}
.category:hover {
    background-color: #efe;
    padding-left: 2vmin;
    padding-right: 0;
    cursor: pointer;
    transition: .1s;
}
.dark-cat {
    background-color: #595;
}
.dark-cat:hover {
    background-color: #696;
}
.dice, .roll {
    margin: auto;
    width: 80vmin;
    text-align: center;
}
.die, .selected {
    width: 14vmin;
    height: 14vmin;
    font-size: 10vmin;
}
.selected {
    background-color: #f88;
}
.selected:hover {
    background-color: #faa;
}
.roll button {
    padding: 1vmin;
    width: 72vmin;
    font-size: 5vmin;
}
#yahtzee-banner {
    position: absolute;
    padding: 4vmin;
    width: 72vmin;
    background-color: #f75d;
    color: #fff;
    display: none;
    opacity: 0;
    font-size: 6vmin;
    text-align: center;
    z-index: 2;
}